/* General design system */
:root {
  --main-color: #E44444; /* var(--main-color) */
  --second-color: #CD487B; /* var(--second-color) */
  --light-grey-color: #EDEDED; /* var(--light-grey-color) */
  --dark-grey-color: #4B4B4B; /* var(--dark-grey-color) */
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
}

.container {
	min-width: 992px;
	max-width: 1440px;
}

h2, 
h3 {
	font-family: 'Archivo', sans-serif;
	font-style: normal;
}

h2 {
	text-align: center;
}